Django==1.11.14
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.26.post2
django-celery==3.2.2
django-pg-utils==0.1.5
django-tables2==1.21.2
Jinja2==2.10
kombu==3.0.37
lazy-property==0.0.1
MarkupSafe==1.0
numpy==1.15.1
pandas==0.23.4
Pillow==5.2.0
psycopg2==2.7.5
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0