{% extends 'base_1.html' %}

{% block container %}
<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
          <div class="row">

            <div class="col-md-4"></div>

            <div class="col-md-4" style="background-color:#cccccc; overflow: auto;">

              {% if validlink %}
                <h3>Change password</h3>
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Change password</button>
                </form>
              {% else %}
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
              {% endif %}

            </div>

            <div class="col-md-4"></div>

          </div>
        </div>
    </div>
    
</div>
{% endblock %}