{% extends 'base2.html' %} 
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
        	<div class="row">
        		<div class="col-md-4"></div>
	        	<div class="col-md-4" style="background-color:#cccccc; overflow: auto;">
					<h2>Change Password</h2>
					    <form method="post">
					        {% csrf_token %}
					        {{ form.as_p }}
					        <a href="{% url 'landing' %}">Home</a>
					        <button type="submit">Submit</button>
					    </form>
		        </div>
		        <div class="col-md-4"></div>
	        </div>
        </div>
    </div>
</div>
{% endblock %}