{% extends "base2.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}


{% block head %}

	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		
		$(document).ready(function() {
		
		displaySectionsPieChart();

		});



		function displaySectionsPieChart(){
			
			$('#pie_chart_for_sections').empty();

			var all_pie_data_list = [];


			{% for one_data_type in pie_chart_by_sections %}

				var one_item = {};

	        	one_item["name"] = "{{ one_data_type.staff__section__designation }}";

	        	y = "{{ one_data_type.processing_time_in_section }}";
	        	one_item["y"] = parseInt(y);


	        	all_pie_data_list.push(one_item);
				
			{% endfor %}

			var chart_title = "<b> Time spent by sections </b>"

			Highcharts.chart('pie_chart_for_sections', {
							        chart: {
							            plotBackgroundColor: null,
							            plotBorderWidth: null,
							            plotShadow: false,
							            type: 'pie'
							        },
							        title: {
							            text: chart_title
							        },
							        tooltip: {
							            pointFormat: '<b>{point.y}</b> Minutes <br> {series.name}: <b>{point.percentage:.1f}%</b>'
							        },
							        plotOptions: {
							            pie: {
							                allowPointSelect: true,
							                cursor: 'pointer',
							                dataLabels: {
							                    enabled: true,
                								format: '<b>{point.y}</b> Minutes <br> {series.name}: <b>{point.percentage:.1f}%</b>',
                								style: {
                    									color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                										}

							                },
							                showInLegend: true
							            }
							        },
							        series: [{
							            name: 'Percentage ',
							            colorByPoint: true,
							            data: all_pie_data_list
							        }],
							        credits: {
									      enabled: false
									  },
							    });


		}
	</script>


{% endblock %}


{% block container %}

<div class="well col-sm-12">
	<div class="col-sm-2">
		
	</div>
	<div id="pie_chart_for_sections" class="col-sm-8">
		
	</div>
	<div class="col-sm-2">
		
	</div>
</div>

{% endblock %}