{% extends "base2.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}

{% block head %}
	<script language="JavaScript">
		$(document).ready(function() {


			desplay_records();

		});

		function desplay_records(){

			$('#records_tbl').append('<p align="center"><b>{% trans "" %}</b></p>' +

									'<div style="clear:both; height:10px;"></div>' +

									'<table id="tbl" class="table table-striped table-bordered table-condensed">');
									
									$('#tbl').append('<thead>' +
										'<th>{% trans "Mail/Invoice Number" %}</th><th>{% trans "Sender" %}</th><th>{% trans "Entry Date" %}</th><th>{% trans "Received by Staff" %}</th><th>{% trans "Action Required" %}</th>' +
									'</thead>' +
										
									'<tbody>' +
										
									'</tbody>');

									var records = JSON.parse("{{mails}}".replace(/&quot;/g,'"'));

									var mail_number;
									var sender_f_name;
									var received_by_org_date;
									var received_by_staff_date;
									var action;

									for (i = 0; i < records.length; i++){
										mail_number = records[i]["mail_number"];
										sender_f_name = records[i]["sender_f_name"];

										received_by_org_date = records[i]["received_by_organization_date"];
										received_by_org_date = received_by_org_date.substring(0,19);

										received_by_staff_date = records[i]["start_date"];
										received_by_staff_date = received_by_staff_date.substring(0,19);

										action = records[i]["purpose"];

										$('#tbl').find('tbody').append('<tr style="cursor:pointer;"></tr>');

										$('#tbl tr:last').append('<td align="center">' + mail_number +'</td>');
										$('#tbl tr:last').append('<td align="center">' + sender_f_name +'</td>');
										$('#tbl tr:last').append('<td align="center">' + received_by_org_date +'</td>');
										$('#tbl tr:last').append('<td align="center">' + received_by_staff_date +'</td>');
										$('#tbl tr:last').append('<td align="center">' + action +'</td>');
									}
										
						
									$('#tbl').DataTable({
										dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
											"<'row'<'col-sm-12'tr>>" +
											"<'row'<'col-sm-4'B><'col-sm-8'p>>",
										pagingType: "full_numbers",
										lengthMenu: [
								            [10, 25, 50, 100, -1 ],
								            ['10', '25', '50', '100', 'All' ]
								        ],
								        buttons: [
								            'copy', 'csv', 'excel', 'pdf', 'print'
								        ]
									});


		}


	</script>
{% endblock %}


{% block container %}


	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div class="well">
	<div align="center">

		<div id="records_tbl">

		</div>

	</div>
	</div>


{% endblock %}