{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}

{% block head %}
	<script language="JavaScript">
		$(document).ready(function() {

			if ("{{ senders }}") {
				{% for s in senders %}
					$('#sender').append('<option value="{{ s.id }}">{{ s.first_name }} {{s.last_name}}</option>');
				{% endfor %}
			}

			desplay_records();

		});

		function desplay_records(){

			$('#records_tbl').append('<p align="center"><b>{% trans "PARTNERS" %}</b></p>' +

									'<div style="clear:both; height:10px;"></div>' +

									'<table id="tbl" class="table table-striped table-bordered table-condensed">');
									
									$('#tbl').append('<thead>' +
										'<th>{% trans "First Name" %}</th><th>{% trans "Last Name" %}</th><th>{% trans "Phone Number" %}</th><th>{% trans "E-mail" %}</th>' +
									'</thead>' +
										
									'<tbody>' +
										
									'</tbody>');

									var records = JSON.parse("{{senders}}".replace(/\\n/g, "\\n")
                    .replace(/\\'/g, "\\'")
                    .replace(/\\\\/g, "\\\\")
                    .replace(/\\:/g, '\\:')
                    .replace(/\\"/g, '\\"')
                    .replace(/\\&/g, "\\&")
                    .replace(/\\r/g, "\\r")
                    .replace(/\\t/g, "\\t")
                    .replace(/\\b/g, "\\b")
                    .replace(/\\f/g, "\\f")
                    .replace(/[\u0000-\u0019]+/g,"")
                    .replace(/&quot;/g,'"'));

									records = { json: records };
									console.log(records);

									var i;
									var first_name;
									var last_name;
									var phone_number;
									var e_mail;


									for (i = 0; i < records.json.length; i++){
										first_name = records.json[i]["first_name"];
										last_name = records.json[i]["last_name"];
										phone_number = records.json[i]["phone_number"];
										email = records.json[i]["email"];
										

										$('#tbl').find('tbody').append('<tr style="cursor:pointer;"></tr>');

										
										$('#tbl tr:last').append('<td align="center">' + first_name +'</td>');
										$('#tbl tr:last').append('<td align="center">' + last_name +'</td>');
										$('#tbl tr:last').append('<td align="center">' + phone_number +'</td>');
										$('#tbl tr:last').append('<td align="center">' + email +'</td>');
									}


									$('#tbl').DataTable({
										dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
											"<'row'<'col-sm-12'tr>>" +
											"<'row'<'col-sm-4'B><'col-sm-8'p>>",
										pagingType: "full_numbers",
										lengthMenu: [
								            [10, 25, 50, 100, -1 ],
								            ['10', '25', '50', '100', 'All' ]
								        ],
								        buttons: [
								            'copy', 'csv', 'excel', 'pdf', 'print'
								        ]
									});


		}

		function transferMail(){

			if ($('#sender').val() != ""){
				sender = $('#sender').val();
			}else{
				return;
			}
			if ($('#mail').val() != ""){
				mail = $('#mail').val();
			}else{
				return;
			}
			if ($('#staff').val() != ""){
				staff = $('#staff').val();
			}else{
				return;
			}
			if ($('#datetimepicker').val() != ""){
				datetimepicked = $('#datetimepicker').val();
			}else{
		        return;
		    }
			if ($('#comments').val() != ""){
				comments = $('#comments').val();
			}else{
				return;
			}

			ajaxurl = 'save_transfer_1';
			data = JSON.stringify({ 'sender': sender, 'mail': mail, 'staff': staff, 'hard_copy_transfer_date': datetimepicked, 'comments': comments});


			$("#records_tbl").html("");

			ajaxpost(ajaxurl, data);


	        desplay_records();

		}

		function fetchmails(code) {
			$("#mail option").each(function(){
        		if ($(this).val()) {
        			$(this).remove();
        		}
		    });

		    $('#records_tbl').empty();
			if (code) {
				//initializesonic();

				ajaxurl = 'get_unclosed_mails';
				ajaxpostbackfunction = "fetch_mails";
	            data = JSON.stringify({ 'code': code });

	            ajaxpost(ajaxurl, data);
	        }

	        desplay_records();
		}

		function desplay_history(code){

		}

		function ajaxpost(posturl, data) {
		        ajaxresults = null;
		        $.ajax({
		        	beforeSend: function(xhr, settings) {
				        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				            xhr.setRequestHeader("X-CSRFToken", csrftoken);
				        }
				    },
		            type: 'POST',
		            url: posturl,
		            data: data,
		            //contentType: 'application/json; charset=utf-8',
		            //dataType: 'json',

		            success: function (response) {
		            	if (ajaxpostbackfunction == "fetch_mails") {
		                	for (i = 0; i < response.length; i++) {

		                		var id = response[i]["number"];

		                		$('#mail').append('<option value=' + id +'>' + id + '</option>');

    						}
    						// fetch wanted data
		                }
		            },
		            failure: function (json) {
		                console.log("Fail");
		            },
		            error: function (jqXHR, exception) {
		                console.log("Error");
		                console.log(exception);
		            }
		        })
		}

	</script>
{% endblock %}


{% block container %}


	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div class="well">
	<div align="center">
		<div class="form-inline" style="padding-left :5px; padding-right :5px;">

			<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div>

				<div class="row">

					<div class="col-20">
              		</div>

              		<div class="col-40">
		            	<label class="custom-file-label" for="first_mame">First Name</label>
		            </div>
		              
		            <div class="col-40">
		             	<input type="text" class="custom-file-input" id="first_mame" name="first_mame">
		            </div>

		            <div class="col-20">
              		</div>

			    </div>



		        <div class="row">

					<div class="col-20">
              		</div>

              		<div class="col-40">
		            	<label class="custom-file-label" for="last_name">Last Name</label>
		            </div>
		              
		            <div class="col-40">
		             	<input type="text" class="custom-file-input" id="last_name" name="last_name">
		            </div>

		            <div class="col-20">
              		</div>

			    </div>


				<div class="row">

					<div class="col-45">
              
              		</div>

              		<div class="col-10">
						<button type="submit">Save</button>
					</div>

					<div class="col-45">
              
              		</div>

				</div>

				<div class="row">
		        	<h1><font color="red">{{message_to_user}}</font></h1>
		        </div>

			</div>
			</form>

		</div>

		<br/>
		<br/>

		<div id="records_tbl">

		</div>

	</div>
	</div>


{% endblock %}