{% extends "base2.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}


{% block head %}

	<script language="JavaScript">


		$(document).ready(function() {
			displayPieChart1();
		});

		function displayPieChart1(){
			
			$('#pie_chart_for_not_closed').empty();

			var all_pie_data_list = [];

	        {% for one_data_type in not_closed_pie_data %}
	        	var one_item = {};
	        	var name = "{{ one_data_type.processing_time }}";
	        	var y = "{{ one_data_type.number_same_time }}";


	        	name = parseInt(name);
	        	name = name+" days"
	        	one_item["name"] = name;
	        	one_item["y"] = parseInt(y);
	        	all_pie_data_list.push(one_item);
	        {% endfor %}

	        var number_of_not_completed_mails = "{{ number_of_not_completed_mails }}";
	        var chart_title = "<b> Not Completed Mails </b> - <i> Total : </i>"+number_of_not_completed_mails

	        Highcharts.chart('pie_chart_for_not_closed', {
							        chart: {
							            plotBackgroundColor: null,
							            plotBorderWidth: null,
							            plotShadow: false,
							            type: 'pie'
							        },
							        title: {
							            text: chart_title
							        },
							        tooltip: {
							            pointFormat: 'Processing time :    		<b>{point.name}</b><br>Number of mails : {point.y}<br>Percentage : <b>{point.percentage:.1f}%</b>'
							        },
							        plotOptions: {
							            pie: {
							                allowPointSelect: true,
							                cursor: 'pointer',
							                dataLabels: {
							                    enabled: true,
                								format: 'Processing time :    		<b>{point.name}</b><br>Number of mails : {point.y}<br>Percentage : <b>{point.percentage:.1f}%</b>',
                								style: {
                    									color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                										}

							                },
							                showInLegend: true
							            }
							        },
							        series: [{
							            name: 'Percentages ',
							            colorByPoint: true,
							            data: all_pie_data_list
							        }],
							        credits: {
									      enabled: false
									  },
							    });

		}

	</script>



{% endblock %}


{% block container %}
<div class="well col-sm-12">

	<div class="col-sm-1">
		
	</div>

	<div id="pie_chart_for_not_closed" class="well col-sm-10">
		
	</div>

	<div class="col-sm-1">
		
	</div>
	
</div>

{% endblock %}