{% extends "base2.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}


{% block head %}

	<script language="JavaScript">


		$(document).ready(function() {
			displayAllMails2();
			//displayPieChart1();
			//displayPieChart2();
			//displayPieChart3();
			//displayAllMails();
		});


		function displayPieChart1(){
			
			$('#pie_chart_for_not_closed').empty();

			var all_pie_data_list = [];
			var number_of_days_list = [];
			var number_of_mails_list = [];
			console.log("{{not_closed_pie_data}}");
	        {% for one_data_type in not_closed_pie_data %}
	        	var one_item = {};
	        	var name = "{{ one_data_type.processing_time }}";
	        	var y = "{{ one_data_type.number_same_time }}";


	        	name_1 = parseInt(name);
	        	name_1 = name_1+" days"
	        	one_item["name"] = name_1;
	        	one_item["y"] = parseInt(y);
	        	all_pie_data_list.push(one_item);

	        	number_of_days_list.push(parseInt(name));
	        	number_of_mails_list.push(parseInt(y));
	        {% endfor %}

	        var number_of_not_completed_mails = "{{ number_of_not_completed_mails }}";
	        var chart_title = "<b> Mails still under processing </b> - <i> Total : </i>"+number_of_not_completed_mails

	        /*Highcharts.chart('pie_chart_for_not_closed', {
							        chart: {
							            plotBackgroundColor: null,
							            plotBorderWidth: null,
							            plotShadow: false,
							            type: 'pie'
							        },
							        title: {
							            text: chart_title
							        },
							        tooltip: {
							            pointFormat: 'Processing time :    		<b>{point.name}</b><br>Number of mails : {point.y}<br>Percentage : <b>{point.percentage:.1f}%</b>'
							        },
							        plotOptions: {
							            pie: {
							                allowPointSelect: true,
							                cursor: 'pointer',
							                dataLabels: {
							                    enabled: true,
                								format: 'Processing time :    		<b>{point.name}</b><br>Number of mails : {point.y}<br>Percentage : <b>{point.percentage:.1f}%</b>',
                								style: {
                    									color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                										}

							                },
							                showInLegend: true
							            }
							        },
							        series: [{
							            name: 'Percentages ',
							            colorByPoint: true,
							            data: all_pie_data_list
							        }],
							        credits: {
									      enabled: false
									  },
							    });*/

		
		Highcharts.chart('pie_chart_for_not_closed', {
								    chart: {
								        type: 'column'
								    },
								    title: {
								        text: 'Number of mails by processing duration in days'
								    },
								    xAxis: {
								        categories: number_of_days_list,
								        title: {
								            text: 'Processing Duration (Days)'
								        }
								    },
								    yAxis: {
								        min: 0,
								        allowDecimals: false,
								        title: {
								            text: 'Number of mails',
								            align: 'high'
								        },
								        labels: {
								            overflow: 'justify'
								        }
								    },
								    tooltip: {
								    	enabled: false,
								        valueSuffix: ' mails'
								    },
								    plotOptions: {
								        bar: {
								            dataLabels: {
								                enabled: true
								            }
								        }
								    },
								    credits: {
								        enabled: false
								    },
								    series: [{
								    	showInLegend:false,
								        data: number_of_mails_list
								    }]
								});


		}




		function displayPieChart2(){

			$('#pie_chart_2').empty();

			var all_pie_data_list = [];

	        {% for one_data_type in not_closed_pie_data_2 %}
	        	var one_item = {};
	        	var name = "{{ one_data_type.staff_section }}";
	        	var y = "{{ one_data_type.number_of_mails_in_section }}";


	        	/*name = parseInt(name);
	        	name = name+" days"*/
	        	one_item["name"] = name;
	        	one_item["y"] = parseInt(y);
	        	all_pie_data_list.push(one_item);
	        {% endfor %}

	        var number_of_not_completed_mails = "{{ number_of_not_completed_mails }}";
	        var chart_title = "<b> Mails still under processing </b> - <i> Total : </i>"+number_of_not_completed_mails

	        Highcharts.chart('pie_chart_2', {
							        chart: {
							            plotBackgroundColor: null,
							            plotBorderWidth: null,
							            plotShadow: false,
							            type: 'pie'
							        },
							        title: {
							            text: chart_title
							        },
							        tooltip: {
							            pointFormat: 'Section :    		<b>{point.name}</b><br>Number of mails : {point.y}<br>Percentage : <b>{point.percentage:.1f}%</b>'
							        },
							        plotOptions: {
							            pie: {
							                allowPointSelect: true,
							                cursor: 'pointer',
							                dataLabels: {
							                    enabled: true,
                								format: 'Section :    		<b>{point.name}</b><br>Number of mails : {point.y}<br>Percentage : <b>{point.percentage:.1f}%</b>',
                								style: {
                    									color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                										}

							                },
							                showInLegend: true
							            }
							        },
							        series: [{
							            name: 'Percentages ',
							            colorByPoint: true,
							            data: all_pie_data_list
							        }],
							        credits: {
									      enabled: false
									  },
							    });

			

		}



		function displayMails(key=0){
			staff_id = key.closest('tr').getElementsByTagName('td')[0].innerHTML;	
			window.open('get_on_process_mails_for_staff/?staff_id='+staff_id,'','fullscreen=yes');
			}



		function displayPieChart3(){
			$('#pie_chart_3').empty();

			//var all_pie_data_list = [];
			$('#staff_table').append('<p align="center"><b>{% trans "NUMBER OF MAILS/INVOICES UNDER PROCESSING" %}</b></p>' +

												'<div style="clear:both; height:10px;"></div>' +

												'<table style="width:100%;" id="tbl" class="table table-striped table-bordered table-condensed">');

			$('#tbl').append('<thead>' +
				'<th style="display:none">{% trans "Staff_id" %}</th><th>{% trans "Staff" %}</th><th>{% trans "Section" %}</th><th>{% trans "Number of Mails/Invoices" %}</th>' +
			'</thead>' +
				
			'<tbody>' +
				
			'</tbody>');



	        {% for one_data_type in not_closed_pie_data_3 %}
	        	var one_item = {};
	        	staff_id = "{{ one_data_type.staff__id }}";
	        	var name = "{{ one_data_type.staff__first_name }} "+"{{ one_data_type.staff__last_name }}";
	        	var section = "{{ one_data_type.staff__section__designation }}";
	        	var y = "{{ one_data_type.number_of_mails_for_one_staff }}";

	        	$('#tbl').find('tbody').append('<tr style="cursor:pointer;"></tr>');

				$('#tbl tr:last').append('<td align="center" style="display:none">' + staff_id +'</td>');
				$('#tbl tr:last').append('<td align="center">' + name +'</td>');
				$('#tbl tr:last').append('<td align="center">' + section +'</td>');
				$('#tbl tr:last').append('<td align="center"><a href="#" onclick = "displayMails(this)">' + y +'</a></td>');
	        {% endfor %}

	        $('#tbl').DataTable({
										dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
											"<'row'<'col-sm-12'tr>>" +
											"<'row'<'col-sm-4'B><'col-sm-8'p>>",
										pagingType: "full_numbers",
										lengthMenu: [
								            [10, 25, 50, 100, -1 ],
								            ['10', '25', '50', '100', 'All' ]
								        ],
								        buttons: [
								            'csv', 'excel', 'pdf', 'print'
								        ]
									});

		}


		function displayAllMails(){
			$('#details_table').empty();

			$('#details_table').append('<p align="center"><b>{% trans "MAILS STILL UNDER PROCESSING" %}</b></p>' +

												'<div style="clear:both; height:10px;"></div>' +

												'<table style="width:100%;" id="d_tbl" class="table table-striped table-bordered table-condensed">');

			$('#d_tbl').append('<thead>' +
                    '<th align="center">{% trans "Internal Number" %}</th><th align="center">{% trans "External Number" %}</th><th>{% trans "Sender" %}</th><th>{% trans "Mail Type" %}</th><th>{% trans "Record date" %}</th><th>{% trans "Need Answer" %}</th>' +
                  '</thead>' +
                    
                  '<tbody>' +
                    
                  '</tbody>');

			not_closed_mails = JSON.parse("{{not_closed_mails}}".replace(/\\n/g, "\\n")
                    .replace(/\\'/g, "\\'")
                    .replace(/\\\\/g, "\\\\")
                    .replace(/\\:/g, '\\:')
                    .replace(/\\"/g, '\\"')
                    .replace(/\\&/g, "\\&")
                    .replace(/\\r/g, "\\r")
                    .replace(/\\t/g, "\\t")
                    .replace(/\\b/g, "\\b")
                    .replace(/\\f/g, "\\f")
                    .replace(/[\u0000-\u0019]+/g,"")
                    .replace(/&quot;/g,'"'));
			
			records = { json: not_closed_mails };

      
                  var i;
                  var sender;
                  var mail_type;
                  var record_date;

                  
                  for (i = 0; i < records.json.length; i++){

                  number = records.json[i]["number"];
                  external_number = records.json[i]["external_number"];
                  sender = records.json[i]["sender_f_name"];
                  mail_type = records.json[i]["mail_type_name"];
                  record_date = records.json[i]["received_time"];
                  record_date = record_date.substring(0,19);
                  var need_answer = records.json[i]["need_answer"];
                  console.log("===");
                  console.log(need_answer);
                  console.log(typeof(need_answer));
                  if(need_answer === true){
                  	need_answer = "Yes"
                  }else{
                  	need_answer = "No"
                  }

                  $('#d_tbl').find('tbody').append('<tr style="cursor:pointer;"></tr>');

                    $('#d_tbl tr:last').append('<td align="center">' + number +'</td>');
                    $('#d_tbl tr:last').append('<td align="center">' + external_number +'</td>');
                    $('#d_tbl tr:last').append('<td align="center">' + sender +'</td>');
                    $('#d_tbl tr:last').append('<td align="center">'+ mail_type +'</a></td>');
                    $('#d_tbl tr:last').append('<td align="center">'+ record_date +'</a></td>');
                    $('#d_tbl tr:last').append('<td align="center">'+ need_answer +'</a></td>');
                  }

                  $('#d_tbl').DataTable({
                    dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
                      "<'row'<'col-sm-12'tr>>" +
                      "<'row'<'col-sm-4'B><'col-sm-8'p>>",
                    pagingType: "full_numbers",
                    lengthMenu: [
                            [10, 25, 50, 100, -1 ],
                            ['10', '25', '50', '100', 'All' ]
                        ],
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ]
                  });

		}



		function displayAllMails2(){
			$('#details_table_2').empty();

			$('#details_table_2').append('<p align="center"><b>{% trans "MAILS STILL UNDER PROCESSING" %}</b></p>' +

												'<div style="clear:both; height:10px;"></div>' +

												'<table style="width:100%;" id="d_tbl_2" class="table table-striped table-bordered table-condensed">');

			$('#d_tbl_2').append('<thead>' +
                    '<th align="center">{% trans "Internal Number" %}</th><th align="center">{% trans "Sender" %}</th><th>{% trans "Mail Type" %}</th><th>{% trans "Duration In System (Days)" %}</th><th>{% trans "Current Processing Section" %}</th><th>{% trans "Need Answer" %}</th>' +
                  '</thead>' +
                    
                  '<tbody>' +
                    
                  '</tbody>');

			not_closed_mails_2 = JSON.parse("{{not_closed_mails_2}}".replace(/\\n/g, "\\n")
                    .replace(/\\'/g, "\\'")
                    .replace(/\\\\/g, "\\\\")
                    .replace(/\\:/g, '\\:')
                    .replace(/\\"/g, '\\"')
                    .replace(/\\&/g, "\\&")
                    .replace(/\\r/g, "\\r")
                    .replace(/\\t/g, "\\t")
                    .replace(/\\b/g, "\\b")
                    .replace(/\\f/g, "\\f")
                    .replace(/[\u0000-\u0019]+/g,"")
                    .replace(/&quot;/g,'"'));
			
			records = { json: not_closed_mails_2 };

      
                  var i;

                  
                  for (i = 0; i < records.json.length; i++){

                  number = records.json[i]["mail_internal_number"];
                  sender = records.json[i]["sender_f_name"];
                  record_date = records.json[i]["recorded_date"];
                  record_date = record_date.substring(0,19);
                  mail_type = records.json[i]["mail_type"];
                  number_of_days_in_system = records.json[i]["number_of_days_in_the_system"];
                  current_processing_section = records.json[i]["staff_section"];
                  var need_answer = records.json[i]["need_answer"];
                  if(need_answer === true){
                  	need_answer = "Yes"
                  }else{
                  	need_answer = "No"
                  }

                  $('#d_tbl_2').find('tbody').append('<tr style="cursor:pointer;"></tr>');

                    $('#d_tbl_2 tr:last').append('<td align="center">' + number +'</td>');
                    $('#d_tbl_2 tr:last').append('<td align="center">' + sender +'</td>');
                    //$('#d_tbl_2 tr:last').append('<td align="center">'+ record_date +'</a></td>');
                    $('#d_tbl_2 tr:last').append('<td align="center">'+ mail_type +'</a></td>');
                    $('#d_tbl_2 tr:last').append('<td align="center">'+ number_of_days_in_system +'</a></td>');
                    $('#d_tbl_2 tr:last').append('<td align="center">'+ current_processing_section +'</a></td>');
                    $('#d_tbl_2 tr:last').append('<td align="center">'+ need_answer +'</a></td>');
                  }

                  $('#d_tbl_2').DataTable({
                    dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
                      "<'row'<'col-sm-12'tr>>" +
                      "<'row'<'col-sm-4'B><'col-sm-8'p>>",
                    pagingType: "full_numbers",
                    lengthMenu: [
                            [10, 25, 50, 100, -1 ],
                            ['10', '25', '50', '100', 'All' ]
                        ],
                        buttons: [
                            'csv', 'excel', 'pdf', 'print'
                        ]
                  });

		}


	</script>



{% endblock %}


{% block container %}
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#details_2">Details</a></li>
	    <li><a data-toggle="tab" href="#time">Time</a></li>
	    <li><a data-toggle="tab" href="#sections">Sections</a></li>
	    <li><a data-toggle="tab" href="#staffs">Staffs</a></li>
	    <!--<li><a data-toggle="tab" href="#details">Details</a></li>-->
  	</ul>

<div class="well col-sm-12 tab-content">

	<div id="details_2" class="tab-pane fade in active">
		<div class="col-sm-1">
			
		</div>

		<div id="details_table_2" class="well col-sm-10">
			
		</div>

		<div class="col-sm-1">
			
		</div>
	</div>


	<div id="time" class="tab-pane fade">
		<div class="col-sm-1">
			
		</div>

		<div id="pie_chart_for_not_closed" class="well col-sm-10">
			
		</div>

		<div class="col-sm-1">
			
		</div>
	</div>


	<div id="sections" class="tab-pane fade">
		<div class="col-sm-1">
			
		</div>

		<div id="pie_chart_2" class="well col-sm-10">
			
		</div>

		<div class="col-sm-1">
			
		</div>
	</div>


	<div id="staffs" class="tab-pane fade">
		<div class="col-sm-1">
			
		</div>

		<div id="staff_table" class="well col-sm-10">
			
		</div>

		<div class="col-sm-1">
			
		</div>
	</div>


	<div id="details" class="tab-pane fade">
		<div class="col-sm-1">
			
		</div>

		<div id="details_table" class="well col-sm-10">
			
		</div>

		<div class="col-sm-1">
			
		</div>
	</div>

</div>

{% endblock %}