{% extends "base2.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}

{% block head %}
	<script language="JavaScript">

		function searchMail(){
			$("#records_tbl").html("");

			if ($('#mail_id').val() != ""){
				mail_id = $('#mail_id').val();
			}else{
				return;
			}
			ajaxurl = 'search_mail';
			data = JSON.stringify({'mail_id': mail_id});
			ajaxpost(ajaxurl, data);
		}

		function ajaxpost(posturl, data) {
		        ajaxresults = null;
		        $.ajax({
		        	beforeSend: function(xhr, settings) {
				        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				            xhr.setRequestHeader("X-CSRFToken", csrftoken);
				        }
				    },
		            type: 'POST',
		            url: posturl,
		            data: data,
		            success: function (response) {
		            	if(response != "N"){

							$('#records_tbl').append('<p align="center"><b>{% trans "DETAILS" %}</b></p>' +

													'<div style="clear:both; height:10px;"></div>' +

													'<table id="tbl" class="table table-striped table-bordered table-condensed">');
													
							$('#tbl').append('<thead>' +
								'<th>{% trans "Internal Number" %}</th><th>{% trans "External Number" %}</th><th>{% trans "Staff" %}</th><th>{% trans "Section" %}</th><th>{% trans "Required Action" %}</th><th>{% trans "Reception Date" %}</th><th>{% trans "End Date" %}</th>' +
							'</thead>' +
								
							'<tbody>' +
								
							'</tbody>');


							for (i = 0; i < response.length; i++) {
								internal_number = response[i].internal_number
								external_number = response[i].external_number
		                		staff_name = response[i].staff_f_name+" "+response[i].staff_l_name
		                		staff_section = response[i].staff_section
		                		required_action = response[i].purpose

		                		reception_date = response[i].hard_copy_transfer_time;
								if(reception_date){
									reception_date = reception_date.substring(0,19);
								}

		                		end_date = response[i].end_date
		                		if(end_date != null){
		                			end_date = end_date.substring(0,19);
		                		}
		                		

		                		$('#tbl').find('tbody').append('<tr style="cursor:pointer;"></tr>');

		                		$('#tbl tr:last').append('<td align="center">' + internal_number +'</td>');

		                		$('#tbl tr:last').append('<td align="center">' + external_number +'</td>');

								$('#tbl tr:last').append('<td align="center">' + staff_name +'</td>');

								$('#tbl tr:last').append('<td align="center">' + staff_section +'</td>');
								$('#tbl tr:last').append('<td align="center">' + required_action +'</td>');
								$('#tbl tr:last').append('<td align="center">' + reception_date +'</td>');
								$('#tbl tr:last').append('<td align="center">' + end_date +'</td>');
							}



							$('#tbl').DataTable({
											dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
												"<'row'<'col-sm-12'tr>>" +
												"<'row'<'col-sm-4'B><'col-sm-8'p>>",
											pagingType: "full_numbers",
											lengthMenu: [
									            [10, 25, 50, 100, -1 ],
									            ['10', '25', '50', '100', 'All' ]
									        ],
									        buttons: [
									            'copy', 'csv', 'excel', 'pdf', 'print'
									        ],
									        order: [[5, 'asc']]
										});
						}else{
							$('#records_tbl').append('<p align="center"><b style="color:red;">{% trans "No Records found" %}</b></p>');
						}



		            },
		            failure: function (json) {
		            	console.log("Fail");
		            },
		            error: function (jqXHR, exception) {
		                console.log(exception);
		            }
		        })
		}

	</script>
{% endblock %}


{% block container %}


	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div class="well">
	<div align="center">
		<div class="form-inline" style="padding-left :5px; padding-right :5px;">

			<form method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<div class="form-group">
				<label for="mail_id">{% trans "ID :" %}</label>
				<textarea class="form-control" style="width:140px" id="mail_id" required="required" placeholder="Type here a mail internal number"></textarea>
			</div>

			<button type="button" onclick="searchMail()">Search</button>

			</form>

		</div>

		<br/>
		<br/>

		<div id="records_tbl">

		</div>

	</div>
	</div>


{% endblock %}