{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}

{% block head %}
	<script language="JavaScript">
		$(document).ready(function() {

			if ("{{ senders }}") {
				{% for s in senders %}
					$('#sender').append('<option value="{{ s.id }}">{{ s.first_name }} {{s.last_name}}</option>');
				{% endfor %}
			}

		});

		function fetchmails(code) {
			$("#mail option").each(function(){
        		if ($(this).val()) {
        			$(this).remove();
        		}
		    });

		    $('#records_tbl').empty();
			if (code) {
				//initializesonic();

				ajaxurl = 'get_all_mails';
				ajaxpostbackfunction = "fetch_mails";
	            data = JSON.stringify({ 'code': code });

	            ajaxpost(ajaxurl, data);
	        }

	        //desplay_records();
		}


		function fetch_mail_history(code) {
		    $('#records_tbl').empty();
			if (code) {
				ajaxurl = 'search_mail';
				ajaxpostbackfunction = "fetch_mail_history";
	            data = JSON.stringify({ 'mail_id': code });

	            ajaxpost(ajaxurl, data);
	        }
	        //desplay_records();

		}


		function searchMail(){
			$("#records_tbl").html("");

			if ($('#mail_id').val() != ""){
				mail_id = $('#mail_id').val();
			}else{
				return;
			}
			ajaxurl = 'search_mail';
			data = JSON.stringify({'mail_id': mail_id});
			ajaxpost(ajaxurl, data);
		}

		function ajaxpost(posturl, data) {
		        ajaxresults = null;
		        $.ajax({
		        	beforeSend: function(xhr, settings) {
				        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				            xhr.setRequestHeader("X-CSRFToken", csrftoken);
				        }
				    },
		            type: 'POST',
		            url: posturl,
		            data: data,
		            success: function (response) {

		            	if (ajaxpostbackfunction == "fetch_mails") {
		                	for (i = 0; i < response.length; i++) {

		                		var id = response[i]["number"];

		                		$('#mail').append('<option value=' + id +'>' + id + '</option>');

    						}
    						// fetch wanted data
		                }else{
				            	if (ajaxpostbackfunction == "fetch_mail_history") {

									$('#records_tbl').append('<p align="center"><b>{% trans "DETAILS" %}</b></p>' +

															'<div style="clear:both; height:10px;"></div>' +

															'<table id="tbl" class="table table-striped table-bordered table-condensed">');
															


									$('#tbl').append('<thead>' +
										'<th>{% trans "Internal Number" %}</th><th>{% trans "External Number" %}</th><th>{% trans "Sender" %}</th><th>{% trans "Received by Staff" %}</th><th>{% trans "Staff Section" %}</th><th>{% trans "Reception Date" %}</th><th>{% trans "Required Action" %}</th><th>{% trans "Soft Copy" %}</th>' +
									'</thead>' +
										
									'<tbody>' +
										
									'</tbody>');

									$("#main_informations").html("");


									var mail_informations = response["mail_informations"];
									mail_informations = JSON.parse(mail_informations.replace(/&quot;/g,'"').replace(/\r/g," ").replace(/\n/g," "));
									var is_closed = mail_informations["mail_is_closed"];
									var closure_reason = mail_informations["closure_reason"];
									var closure_date = mail_informations["closure_date"];

									if (is_closed === true){
										is_closed = "YES";
									}else{
										is_closed = "NO";
									}

									if (closure_reason){
										
									}else{
										closure_reason = "-";
									}

									if (closure_date){
										
									}else{
										closure_date = "-";
									}

									$('#main_informations').append('<p align="center"><b>Is Closed : ' + is_closed + '</b></p>');
									$('#main_informations').append('<p align="center"><b>Closure Reason : ' + closure_reason + '</b></p>');
									$('#main_informations').append('<p align="center"><b>Closure Date : ' + closure_date + '</b></p>');
									
									var mail_history = response["mail_history"];
									mail_history = JSON.parse(mail_history.replace(/&quot;/g,'"').replace(/\r/g," ").replace(/\n/g," "));


									for (i = 0; i < mail_history.length; i++) {
										internal_number = mail_history[i].internal_number;
										external_number = mail_history[i].external_number;
										staff_name = mail_history[i].staff_f_name+" "+mail_history[i].staff_l_name;
										staff_section = mail_history[i].staff_section;
										required_action = mail_history[i].purpose;
										soft_copy = mail_history[i].soft_copy;
										sender = mail_history[i].sender_f_name;
										reception_date = mail_history[i].start_date;
										if(reception_date){
											reception_date = reception_date.substring(0,19);
										}

				                		end_date = mail_history[i].end_date
				                		if(end_date != null){
				                			end_date = end_date.substring(0,19);
				                		}
				                		

				                		$('#tbl').find('tbody').append('<tr style="cursor:pointer;"></tr>');

				                		$('#tbl tr:last').append('<td align="center">' + internal_number +'</td>');

				                		$('#tbl tr:last').append('<td align="center">' + external_number +'</td>');

				                		$('#tbl tr:last').append('<td align="center">' + sender +'</td>');

										$('#tbl tr:last').append('<td align="center">' + staff_name +'</td>');

										$('#tbl tr:last').append('<td align="center">' + staff_section +'</td>');

										$('#tbl tr:last').append('<td align="center">' + reception_date +'</td>');

										$('#tbl tr:last').append('<td align="center">' + required_action +'</td>');
										
										if(soft_copy){
							                      $('#tbl tr:last').append('<td align="center"><a href="{{ MEDIA_URL }}'+ soft_copy +'">Soft Copy</a></td>');
							                    }else{
							                      $('#tbl tr:last').append('<td align="center">No Soft Copy</td>');
							                    }
									}



									$('#tbl').DataTable({
													dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
														"<'row'<'col-sm-12'tr>>" +
														"<'row'<'col-sm-4'B><'col-sm-8'p>>",
													pagingType: "full_numbers",
													lengthMenu: [
											            [10, 25, 50, 100, -1 ],
											            ['10', '25', '50', '100', 'All' ]
											        ],
											        buttons: [
											            'copy', 'csv', 'excel', 'pdf', 'print'
											        ],
											        order: [[5, 'asc']]
												});
								}else{
									$('#records_tbl').append('<p align="center"><b style="color:red;">{% trans "No Records found" %}</b></p>');
								}
					}



		            },
		            failure: function (json) {
		            	console.log("Fail");
		            },
		            error: function (jqXHR, exception) {
		                console.log(exception);
		            }
		        })
		}

	</script>
{% endblock %}


{% block container %}


	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div class="well">
	<div align="center">
		<div class="form-inline" style="padding-left :5px; padding-right :5px;">

			<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div>


				<div class="row">

					<div class="col-10">
              		</div>

              		<div class="col-40">
						<label for="sender">{% trans "Sender:" %}</label>
					</div>

					<div class="col-40">
						<select id="sender" class="form-control" style="width:140px"  onchange="fetchmails(this.value)" required="required" name="sender">
							<option value="" selected="selected">[ {% trans "Select the sender" %} ]</option>'
						</select>
					</div>

					<div class="col-10">
              		</div>

				</div>


				<div class="row">

					<div class="col-10">
              		</div>

              		<div class="col-40">
						<label for="mail">{% trans "Mail/Invoice:" %}</label>
					</div>

					<div class="col-40">
						<select id="mail" class="form-control" style="width:140px"  onchange="fetch_mail_history(this.value)" required="required" name="mail">
							<option value="" selected="selected">[ {% trans "Select a mail" %} ]</option>'
						</select>
					</div>

					<div class="col-10">
              		</div>

				</div>


			
				<div class="row">
					<!--<div class="col-30">
              		</div>

              		<div class="col-40-center">
						<button type="button" onclick="searchMail()">Search</button>
					</div>

					<div class="col-30">
              		</div>-->
				</div>

			</div>
			</form>

		</div>

		<br/>
		<br/>

		<div id="main_informations">

		</div>

		<br/>
		<br/>

		<div id="records_tbl">

		</div>

	</div>
	</div>


{% endblock %}