{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}

{% block head %}
	<script language="JavaScript">
		$(document).ready(function() {

			if ("{{ senders }}") {
				{% for s in senders %}
					$('#sender').append('<option value="{{ s.id }}">{{ s.first_name }} {{s.last_name}}</option>');
				{% endfor %}
			}
			/*if ("{{ mails }}") {
				{% for m in mails %}
					$('#mail').append('<option value="{{ m.id }}">{{ m.id }}</option>');
				{% endfor %}
			}*/
			if ("{{ staff }}") {
				{% for s in staff %}
					$('#staff').append('<option value="{{ s.id }}">{{ s.section_name }} - {{ s.first_name }} {{ s.last_name }}</option>');
				{% endfor %}
			}

			$(function() {
		        $('#datetimepicker').datetimepicker();

		      });

			desplay_records();

		});

		function desplay_records(){

			$('#records_tbl').append('<p align="center"><b>{% trans "UNDER PROCESSING MAILS & INVOICES" %}</b></p>' +

									'<div style="clear:both; height:10px;"></div>' +

									'<table id="tbl" class="table table-striped table-bordered table-condensed">');
									
									$('#tbl').append('<thead>' +
										'<th>{% trans "Mail/Invoice Number" %}</th><th>{% trans "Sender" %}</th><th>{% trans "Received by Staff" %}</th><th>{% trans "Staff" %}</th><th>{% trans "Section" %}</th><th>{% trans "Action Required" %}</th><th>{% trans "Soft Copy" %}</th>' +
									'</thead>' +
										
									'<tbody>' +
										
									'</tbody>');

									var records = JSON.parse("{{transfers}}".replace(/&quot;/g,'"'));

									records = { json: records };

									var i;
									var sender;
									var mail_number;
									var transfer_date;
									var staff;
									var section;
									var action;
									var end_date;

									for (i = 0; i < records.json.length; i++){
										sender = records.json[i]["sender_f_name"];
										mail_number = records.json[i]["mail_number"];
										//transfer_date = records.json[i]["start_date"];
										hard_copy_transfer_date = records.json[i]["hard_copy_transfer_time"];
										if(hard_copy_transfer_date){
											hard_copy_transfer_date = hard_copy_transfer_date.substring(0,19);
										}
										staff = records.json[i]["staff_f_name"];
										section = records.json[i]["section"];
										action = records.json[i]["purpose"];

										soft_copy = records.json[i]["soft_copy"];

										$('#tbl').find('tbody').append('<tr style="cursor:pointer;"></tr>');

										
										$('#tbl tr:last').append('<td align="center">' + mail_number +'</td>');
										$('#tbl tr:last').append('<td align="center">' + sender +'</td>');
										$('#tbl tr:last').append('<td align="center">' + hard_copy_transfer_date +'</td>');
										$('#tbl tr:last').append('<td align="center">' + staff +'</td>');
										$('#tbl tr:last').append('<td align="center">' + section +'</td>');
										$('#tbl tr:last').append('<td align="center">' + action +'</td>');

										if(soft_copy){
					                      $('#tbl tr:last').append('<td align="center"><a href="{{ MEDIA_URL }}'+ soft_copy +'">Soft Copy</a></td>');
					                    }else{
					                      $('#tbl tr:last').append('<td align="center">No Soft Copy</td>');
					                    }


									}

									$('#tbl').DataTable({
										dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
											"<'row'<'col-sm-12'tr>>" +
											"<'row'<'col-sm-4'B><'col-sm-8'p>>",
										pagingType: "full_numbers",
										lengthMenu: [
								            [10, 25, 50, 100, -1 ],
								            ['10', '25', '50', '100', 'All' ]
								        ],
								        buttons: [
								            'copy', 'csv', 'excel', 'pdf', 'print'
								        ]
									});


		}

		function transferMail(){

			if ($('#sender').val() != ""){
				sender = $('#sender').val();
			}else{
				return;
			}
			if ($('#mail').val() != ""){
				mail = $('#mail').val();
			}else{
				return;
			}
			if ($('#staff').val() != ""){
				staff = $('#staff').val();
			}else{
				return;
			}
			if ($('#datetimepicker').val() != ""){
				datetimepicked = $('#datetimepicker').val();
			}else{
		        return;
		    }
			if ($('#comments').val() != ""){
				comments = $('#comments').val();
			}else{
				return;
			}

			ajaxurl = 'save_transfer_1';
			data = JSON.stringify({ 'sender': sender, 'mail': mail, 'staff': staff, 'hard_copy_transfer_date': datetimepicked, 'comments': comments});


			$("#records_tbl").html("");

			ajaxpost(ajaxurl, data);


	        desplay_records();

		}

		function fetchmails(code) {
			$("#mail option").each(function(){
        		if ($(this).val()) {
        			$(this).remove();
        		}
		    });

		    $('#records_tbl').empty();
			if (code) {
				//initializesonic();

				ajaxurl = 'get_unclosed_mails';
				ajaxpostbackfunction = "fetch_mails";
	            data = JSON.stringify({ 'code': code });

	            ajaxpost(ajaxurl, data);
	        }

	        desplay_records();
		}

		function desplay_history(code){

		}

		function ajaxpost(posturl, data) {
		        ajaxresults = null;
		        $.ajax({
		        	beforeSend: function(xhr, settings) {
				        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				            xhr.setRequestHeader("X-CSRFToken", csrftoken);
				        }
				    },
		            type: 'POST',
		            url: posturl,
		            data: data,
		            //contentType: 'application/json; charset=utf-8',
		            //dataType: 'json',

		            success: function (response) {
		            	if (ajaxpostbackfunction == "fetch_mails") {
		                	for (i = 0; i < response.length; i++) {

		                		var id = response[i]["number"];

		                		$('#mail').append('<option value=' + id +'>' + id + '</option>');

    						}
    						// fetch wanted data
		                }
		            },
		            failure: function (json) {
		                console.log("Fail");
		            },
		            error: function (jqXHR, exception) {
		                console.log("Error");
		                console.log(exception);
		            }
		        })
		}

	</script>
{% endblock %}


{% block container %}


	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div class="well">
	<div align="center">
		<div class="form-inline" style="padding-left :5px; padding-right :5px;">

			<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div>

				<div class="row">

					<div class="col-10">
              		</div>

              		<div class="col-40">
						<label for="sender">{% trans "Sender:" %}</label>
					</div>

					<div class="col-40">
						<select id="sender" class="form-control" style="width:140px"  onchange="fetchmails(this.value)" required="required" name="sender">
							<option value="" selected="selected">[ {% trans "Select the sender" %} ]</option>'
						</select>
					</div>

					<div class="col-10">
              		</div>

				</div>


				<div class="row">

					<div class="col-10">
              		</div>

              		<div class="col-40">
						<label for="mail">{% trans "Mail/Invoice:" %}</label>
					</div>

					<div class="col-40">
						<select id="mail" class="form-control" style="width:140px"  onchange="desplay_history(this.value)" required="required" name="mail">
							<option value="" selected="selected">[ {% trans "Select a mail" %} ]</option>'
						</select>
					</div>

					<div class="col-10">
              		</div>

				</div>


				<div class="row">

					<div class="col-10">
              		</div>

              		<div class="col-40">
						<label for="staff">{% trans "Staff:" %}</label>
					</div>

					<div class="col-40">
						<select id="staff" class="form-control" style="width:140px"   required="required" name="staff">
							<option value="" selected="selected">[ {% trans "Select a staff" %} ]</option>'
						</select>
					</div>

					<div class="col-10">
              		</div>

		        </div>



		        <div class="row">

		        	<div class="col-10">
              		</div>

              		<div class="col-40">
		              <label for="datetimepicker">{% trans "Hard Copy Transfer Date and Time:" %}</label>
		            </div>

		            <div class="col-40">
		              <div class='input-group date'>
		                <input type='text' class="form-control" id='datetimepicker' name="hard_copy_transfer_date"/>
		                <span class="input-group-addon">
		                    <span class="glyphicon glyphicon-calendar"></span>
		                </span>
		              </div>
		            </div>

		            <div class="col-10">
              		</div>

		        </div>


		        <div class="row">

		        	<div class="col-10">
              		</div>

              		<div class="col-40">
						<label for="comments">{% trans "Comments:" %}</label>
					</div>

					<div class="col-40">
						<textarea class="form-control" style="width:140px" id="comments" required="required" name="comments"></textarea>
					</div>

					<div class="col-10">
              		</div>

				</div>



				<div class="row">

					<div class="col-10">
              		</div>

              		<div class="col-40">
		            	<label class="custom-file-label" for="softCopy">Soft Copy</label>
		            </div>
		              
		            <div class="col-40">
		             	<input type="file" class="custom-file-input" id="softCopy" name="soft_copy">
		            </div>

		            <div class="col-10">
              		</div>

			    </div>



				<div class="row">

					<div class="col-45">
              
              		</div>

              		<div class="col-10">
						<button type="submit">Transfer</button>
					</div>

					<div class="col-45">
              
              		</div>

				</div>

			</div>
			</form>

		</div>

		<br/>
		<br/>

		<div id="records_tbl">

		</div>

	</div>
	</div>


{% endblock %}